    html, body {
      height: 100%;
      margin: 0;
    }
    .container {
      background-color: #0B0F1F;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; /* garante que ocupe toda a altura da tela */
      cursor: pointer; /* para indicar que pode clicar */
      transition: opacity 0.8s ease; /* transição suave */
      opacity: 1;
    }
    /* Classe para o fade out */
    .fade-out {
      opacity: 0;
    }
