        body {
            background-color: #0d0f1a;
            color: white;
            font-family: 'Outfit', sans-serif;
            padding: 60px;
        }

        .sidebar {
            background-color: white;
            min-height: 100vh;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        .sidebar a {
            color: #0B0F1F;
            text-decoration: none;
            display: block;
            padding: 15px;
            font-weight: 600;
            font-size: 1.5rem;
            overflow-wrap: break-word;
        }

        .sidebar a.active {
            background-color: #d3d6fb;
            border-radius: 8px;
        }
    
        
        .sidebar a:hover:not(.active) {
            background-color: #eef0ff; /* tom suave para hover */
            cursor: pointer;
        }
        
        .card {
            background-color: #393C4D;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .card-title,
        .card-text {
            color: white;
        }

        .card-text {
            font-size: 0.75rem;
            font-weight: 200;
        }

        .btn-custom {
            background-color: #d3d6fb;
            color: black;
            border: none;
        }

        .btn-custom-secondary {
            background-color: #393C4D;
            border: none;
            color: #CECED4;
            font-size: larger;
        }

        .btn-custom-secondary:hover {
            background-color: #393C4D;
            color: #CECED4;
            border: none;
        }

        .btn-custom:hover {
            background-color: #c0c3e6;
        }

        .card-maior {
            border-top: 1px solid #3B4461;
            border-bottom: 1px solid #3B4461;
            border-right: 1px solid #3B4461;
            border-left: none;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .fs-custom-2_25rem {
            font-size: 2.25rem;
        }

        .fs-custom-1_125rem {
            font-size: 1.125rem;
        }

        .fs-custom-2rem {
            font-size: 2rem
        }

        @media (max-width: 768px) {
            .sidebar {
                border-radius: 20px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .card-maior {
                border-top: none;
                border-bottom: 1px solid #3B4461;
                border-right: 1px solid #3B4461;
                border-left: 1px solid #3B4461;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 0;
            }
        }

        .w-35 {
            width: 35% !important;
        }

        .w-60 {
            width: 60% !important;
        }

        .minw-40 {
            min-width: 40% !important;
        }

        .py-custom-2_5rem {
            padding-top: 2.5rem !important;
            padding-bottom: 2.5rem !important;
        }

        .px-custom-5rem {
            padding-left: 5rem !important;
            padding-right: 5rem !important;
        }

        .botao-voltar {
            background-color: transparent;
            border: none;
            font-size: xxx-large;
        }

        .botao-voltar:hover {
            background-color: transparent;
            border: none;
            font-size: xxx-large;
        }

        .main-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
        }

        .user-area {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .main-content {
            border: 1px solid #3B4461;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 24px 40px;
            background-color: #393C4D;
        }

        .poster {
            border-top: 1px solid #EEE9E9;
            border-bottom: 1px solid #EEE9E9;
            border-right: 1px solid #EEE9E9;
            border-left: none;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .start-10 {
            left: 10% !important;
        }

        .botao-conversar {
            height: 20%;
            width: 90%;
            font-size: x-large;
            color: #393c4d;
        }

        .botao-conversar:hover {
            height: 20%;
            width: 90%;
            font-size: x-large;
            color: #393c4d;
        }

        .custom-tabs {
            border-bottom: 1px solid #61657b;
        }

        .tab-button {
            background: transparent;
            border: none;
            color: #cfcfd4;
            font-size: 1.25rem;
            font-weight: 500;
            margin-right: 32px;
            padding-bottom: 6px;
            position: relative;
            transition: color 0.3s;
        }

        .tab-button.active {
            color: white;
            font-weight: 600;
        }

        .tab-button.active::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 110%;
            height: 2px;
            background-color: #cfcfd4;
            border-radius: 2px;
        }

        .tab-button:hover {
            color: white;
        }

        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: block;
        }
        .botao-assunto{
            font-size: larger;
            color: #393c4d;
            background-color: #d3d6fb !important;
        }
